body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif !important;
}

.bg-orange {
  background-color: #ff7800;
}
.orange-color {
  color: #ff7800;
}
.white-color {
  color: white;
}
.bg-black {
  background-color: rgba(15, 15, 15, 0.99) !important;
}
.navbar-style {
  background-color: rgba(15, 15, 15, 0.99);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #000;
}
.footer-style {
  background-color: rgba(15, 15, 15, 0.99);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-top: 1px solid #000;
}

.card {
  background-color: rgba(15, 15, 15, 0.99) !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid #000;
}
.card:hover {
  box-shadow: 0 -1px 8px #ff7800;
}
p {
  margin: 0 !important;
}
.links:hover {
  text-decoration: none;
}
.titles:hover {
  color: #ff7800;
  text-decoration: none;
  transition: all 0.3s;
}
.badges-place {
  display: flex;
  justify-content: space-between;
}
.button-style:hover {
  box-shadow: 0 0 10px #ff7800;
}
.menu-item-style {
  color: white !important;
}
.menu-item-style:hover {
  background-color: black !important;
  color: #ff7800 !important;
}
.btn-primary {
  background-color: #ff7800 !important;
  border-color: #ff7800 !important;
}
.btn-primary:hover {
  box-shadow: 0 0 10px #ff7800 !important;
}
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 10px #ff7800 !important;
}
.form-control {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
}
.form-control:focus {
  color: white !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  outline: none !important;
  box-shadow: none !important;
}
